In [2]:
import pandas as pd
import numpy as np
from glob import glob
import os

In [3]:
data_path = '../COVID-19/covid.csv'
data_files = glob(data_path + '/*.csv')

In [4]:
data_files

['../COVID-19/covid.csv/part-00000-fd7e31a1-2b4e-480f-804d-89f899b4d632-c000.csv']

In [5]:
dataframes = []
for data_file in data_files:
    frame = pd.read_csv(data_file)
    data_file_name = os.path.basename(data_file)
    data_file_date = os.path.splitext(data_file_name)[0]
    frame['UpdatedDate'] = data_file_date
    dataframes.append(frame)
# Not sure how to do the above in a comprehension...
# [pd.read_csv(file)['filename'] = file for file in data_files]

In [5]:
countryMap = {
    "Iran (Islamic Republic of)": "Iran",
    "occupied Palestinian territory": "Palestine",
    "Viet Nam": "Vietnam",
    "Korea, South": "South Korea",
    "Republic of Korea": "South Korea",
    "Taiwan*": "Taiwan",
    "Taipei and environs": "Taiwan",
    "Russian Federation": "Russia",
    "Republic of Moldova": "Moldova",
    "Republic of Ireland": "Ireland",
    "Mainland China": "China",
    "UK": "United Kingdom",
    "US": "United States",
    "Macao SAR": "Macau",
    "Hong Kong SAR": "Hong Kong",
    "Czechia": "Czech Republic"
}
stateMap = {
    "AL": "Alabama",
    "AK": "Alaska",
    "AZ": "Arizona",
    "AR": "Arkansas",
    "CA": "California",
    "CO": "Colorado",
    "CT": "Connecticut",
    "DE": "Delaware",
    "FL": "Florida",
    "GA": "Georgia",
    "HI": "Hawaii",
    "ID": "Idaho",
    "IL": "Illinois",
    "IN": "Indiana",
    "IA": "Iowa",
    "KS": "Kansas",
    "KY": "Kentucky",
    "LA": "Louisiana",
    "ME": "Maine",
    "MD": "Maryland",
    "MA": "Massachusetts",
    "MI": "Michigan",
    "MN": "Minnesota",
    "MS": "Mississippi",
    "MO": "Missouri",
    "MT": "Montana",
    "NE": "Nebraska",
    "NV": "Nevada",
    "NH": "New Hampshire",
    "NJ": "New Jersey",
    "NM": "New Mexico",
    "NY": "New York",
    "NC": "North Carolina",
    "ND": "North Dakota",
    "OH": "Ohio",
    "OK": "Oklahoma",
    "OR": "Oregon",
    "PA": "Pennsylvania",
    "RI": "Rhode Island",
    "SC": "South Carolina",
    "SD": "South Dakota",
    "TN": "Tennessee",
    "TX": "Texas",
    "UT": "Utah",
    "VT": "Vermont",
    "VA": "Virginia",
    "WA": "Washington",
    "WV": "West Virginia",
    "WI": "Wisconsin",
    "WY": "Wyoming",
    "Unassigned Location (From Diamond Princess)": "Diamond Princess",
    "From Diamond Princess": "Diamond Princess"
}
def mapLookup(map):
    return lambda name: map.get(name, name)
columnMap = {
    "Country/Region": "Country", 
    "Province/State": "State",
    "Last Update": "LastUpdateTimestamp"
}
dropColumns = ['Latitude', 'Longitude']
data = pd.concat(dataframes, sort=False, ignore_index=True).rename(columnMap, axis = 1).drop(dropColumns, axis=1)
data.Country = data.Country.map(mapLookup(countryMap))

In [8]:
pd.concat(dataframes, sort=False, ignore_index=True).head()

,state,country,recordDate,totalConfirmed,totalDeaths,totalRecovered,id,newConfirmed,newDeaths,newRecovered,UpdatedDate
0,Idaho,United States,2020-01-22,0,0,0,1257338777,0,0,0,part-00000-fd7e31a1-2b4e-480f-804d-89f899b4d63...
1,Idaho,United States,2020-01-23,0,0,0,-642562726,0,0,0,part-00000-fd7e31a1-2b4e-480f-804d-89f899b4d63...
2,Idaho,United States,2020-01-24,0,0,0,716991175,0,0,0,part-00000-fd7e31a1-2b4e-480f-804d-89f899b4d63...
3,Idaho,United States,2020-01-25,0,0,0,1350807152,0,0,0,part-00000-fd7e31a1-2b4e-480f-804d-89f899b4d63...
4,Idaho,United States,2020-01-26,0,0,0,168882653,0,0,0,part-00000-fd7e31a1-2b4e-480f-804d-89f899b4d63...

In [5]:
# data[['City', 'State']] = data[data['State'].str.contains(',', na = False)].State.str.split(', ', expand = True)

In [6]:
# data['City'] = ''

In [6]:
states = data.State.str.split(',', expand=True)
possible_city = states[0]
possible_state = states[1]
possible_state[~possible_state.isnull()] = possible_state[~possible_state.isnull()].map(lambda s: s.replace(" (From Diamond Princess)", ""))

In [17]:
def pickState(df):
    if df[1].isnull():
        df[0]
    else:
        df[1]

states.assign(newState =pickState)
states

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [11]:
foo = data.copy()
foo.head()

,State,Country,LastUpdateTimestamp,Confirmed,Deaths,Recovered,UpdatedDate
0,Hubei,China,2020-02-26T14:13:10,65187.0,2615.0,20969.0,02-26-2020
1,Guangdong,China,2020-02-26T10:33:02,1347.0,7.0,851.0,02-26-2020
2,Henan,China,2020-02-26T10:33:02,1271.0,19.0,1033.0,02-26-2020
3,NaN,South Korea,2020-02-26T11:03:11,1261.0,12.0,22.0,02-26-2020
4,Zhejiang,China,2020-02-26T10:33:02,1205.0,1.0,867.0,02-26-2020

In [12]:
emptyStates = foo[foo.State.isnull()].State 
emptyStateContries = foo[foo.State.isnull()].Country

In [ ]:
foo['NewState'].update()

In [61]:
foo[foo.State.isnull()].State.update(emptyStateContries)

In [78]:
foo = foo.drop(['State'], axis=1)

In [79]:

foo[foo.State.isnull()]['NewState'] = emptyStateContries

AttributeError: 'DataFrame' object has no attribute 'State'

In [77]:
foo

,State,Country,LastUpdateTimestamp,Confirmed,Deaths,Recovered,UpdatedDate
0,Hubei,China,2020-02-26T14:13:10,65187.0,2615.0,20969.0,02-26-2020
1,Guangdong,China,2020-02-26T10:33:02,1347.0,7.0,851.0,02-26-2020
2,Henan,China,2020-02-26T10:33:02,1271.0,19.0,1033.0,02-26-2020
3,NaN,South Korea,2020-02-26T11:03:11,1261.0,12.0,22.0,02-26-2020
4,Zhejiang,China,2020-02-26T10:33:02,1205.0,1.0,867.0,02-26-2020
5,Hunan,China,2020-02-26T10:13:11,1016.0,4.0,783.0,02-26-2020
6,Anhui,China,2020-02-26T10:13:11,989.0,6.0,744.0,02-26-2020
7,Jiangxi,China,2020-02-26T01:13:04,934.0,1.0,719.0,02-26-2020
8,Shandong,China,2020-02-26T12:43:02,756.0,6.0,377.0,02-26-2020
9,Diamond Princess cruise ship,Others,2020-02-26T19:33:02,705.0,4.0,10.0,02-26-2020
10,Jiangsu,China,2020-02-26T10:13:11,631.0,0.0,478.0,02-26-2020
11,Chongqing,China,2020-02-26T23:43:02,576.0,6.0,384.0,02-26-2020
12,Sichuan,China,2020-02-26T10:13:11,531.0,3.0,307.0,02-26-2020
13,Heilongjiang,China,2020-02-26T10:33:02,480.0,12.0,249.0,02-26-2020
14,NaN,Italy,2020-02-26T23:43:03,453.0,12.0,3.0,02-26-2020
15,Beijing,China,2020-02-26T00:53:02,400.0,4.0,235.0,02-26-2020
16,Shanghai,China,2020-02-26T23:53:01,337.0,3.0,272.0,02-26-2020
17,Hebei,China,2020-02-26T10:33:02,312.0,6.0,261.0,02-26-2020
18,Fujian,China,2020-02-26T10:33:02,294.0,1.0,218.0,02-26-2020
19,Guangxi,China,2020-02-26T14:13:10,252.0,2.0,147.0,02-26-2020
20,Shaanxi,China,2020-02-26T14:13:10,245.0,1.0,192.0,02-26-2020
21,NaN,Japan,2020-02-26T23:43:03,189.0,2.0,22.0,02-26-2020
22,Yunnan,China,2020-02-26T05:13:16,174.0,2.0,144.0,02-26-2020
23,Hainan,China,2020-02-26T12:43:02,168.0,5.0,129.0,02-26-2020
24,Guizhou,China,2020-02-25T08:03:07,146.0,2.0,104.0,02-26-2020
25,NaN,Iran,2020-02-26T23:43:03,139.0,19.0,49.0,02-26-2020
26,Tianjin,China,2020-02-26T12:43:02,135.0,3.0,96.0,02-26-2020
27,Shanxi,China,2020-02-26T14:13:10,133.0,0.0,104.0,02-26-2020
28,Liaoning,China,2020-02-26T00:13:05,121.0,1.0,88.0,02-26-2020
29,Jilin,China,2020-02-26T14:13:10,93.0,1.0,65.0,02-26-2020
...,...,...,...,...,...,...,...
7283,"Plymouth County, MA",United States,2020-03-07T03:53:03,1.0,0.0,0.0,03-08-2020
7284,"Polk County, GA",United States,2020-03-08T04:13:22,1.0,0.0,0.0,03-08-2020
7285,"Ramsey County, MN",United States,2020-03-06T23:23:03,1.0,0.0,0.0,03-08-2020
7286,"Riverside County, CA",United States,2020-03-08T10:33:03,1.0,0.0,0.0,03-08-2020
7287,"San Antonio, TX",United States,2020-02-13T18:53:02,1.0,0.0,0.0,03-08-2020
7288,"Santa Rosa County, FL",United States,2020-03-08T15:33:04,1.0,1.0,0.0,03-08-2020
7289,"Sarasota, FL",United States,2020-03-02T03:23:06,1.0,0.0,0.0,03-08-2020
7290,"Shelby County, TN",United States,2020-03-08T16:13:36,1.0,0.0,0.0,03-08-2020
7291,"Sonoma County, CA",United States,2020-03-02T20:53:02,1.0,0.0,0.0,03-08-2020
7292,"Spokane County, WA",United States,2020-03-08T21:53:04,1.0,0.0,0.0,03-08-2020
7293,"St. Louis County, MO",United States,2020-03-08T11:23:08,1.0,0.0,0.0,03-08-2020
7294,"Suffolk County, NY",United States,2020-03-08T16:03:05,1.0,0.0,0.0,03-08-2020
7295,"Tulsa County, OK",United States,2020-03-07T04:43:02,1.0,0.0,0.0,03-08-2020
7296,"Ulster County, NY",United States,2020-03-08T16:23:07,1.0,0.0,0.0,03-08-2020
7297,"Umatilla, OR",United States,2020-03-02T20:23:16,1.0,0.0,0.0,03-08-2020
7298,"Unassigned Location, VT",United States,2020-03-08T06:23:05,1.0,0.0,0.0,03-08-2020
7299,"Unknown Location, MA",United States,2020-03-08T21:23:03,1.0,0.0,0.0,03-08-2020
7300,"Volusia County, FL",United States,2020-03-08T03:03:08,1.0,0.0,0.0,03-08-2020
7301,"Wake County, NC",United States,2020-03-03T20:53:02,1.0,0.0,0.0,03-08-2020
7302,"Wayne County, PA",United States,2020-03-06T16:13:15,1.0,0.0,0.0,03-08-2020
7303,"Williamson County, TN",United States,2020-03-05T23:33:03,1.0,0.0,0.0,03-08-2020
7304,"Yolo County, CA",United States,2020-03-06T20:13:14,1.0,0.0,0.0,03-08-2020
7305,NaN,Ukraine,2020-03-03T15:33:02,1.0,0.0,0.0,03-08-2020
7306,NaN,Vatican City,2020-03-06T15:43:02,1.0,0.0,0.0,03-08-2020
7307,From Diamond Princess,Australia,2020-02-29T02:03:10,0.0,0.0,0.0,03-08-2020
7308,Northern Territory,Australia,2020-03-06T04:33:03,0.0,0.0,0.0,03-08-2020
7309,"Lackland, TX (From Diamond Princess)",United States,2020-02-24T23:33:02,0.0,0.0,0.0,03-08-2020
7310,"Montgomery County, TX",United States,2020-03-07T19:53:02,0.0,0.0,0.0,03-08-2020
7311,"Omaha, NE (From Diamond Princess)",United States,2020-02-24T23:33:02,0.0,0.0,0.0,03-08-2020
7312,"Travis, CA (From Diamond Princess)",United States,2020-02-24T23:33:02,0.0,0.0,0.0,03-08-2020